@page "/"
@attribute [Authorize]

<AuthorizeView>

    <Authorized>
        <h1>Welcome @context.User.FindFirst("FirstName").Value</h1>
    </Authorized>

    <NotAuthorized>
        <h1>Login please</h1>
    </NotAuthorized>

</AuthorizeView>


